version: '3.3'

services:
  db:
    image: postgres:13.3-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - 5432:5432
    env_file:
      - .env.db
  web:
    image: 138941284341.dkr.ecr.eu-central-1.amazonaws.com/django-backend:latest
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./templates/:/home/app/web/staticfiles
      - media_volume:/home/app/web/mediafiles
    ports:
      - "8000:8000"
    env_file:
      - .env.web
    depends_on:
      - db
  nginx:
    build: ./nginx
    volumes:
      - ./templates/:/home/app/web/staticfiles
      - media_volume:/home/app/web/mediafiles
    ports:
      - "80:80"
    depends_on:
      - web

volumes:
  postgres_data:
  media_volume:
